[submodule "lib/ds-roles"]
	path = lib/ds-roles
	url = https://github.com/reflexer-labs/ds-roles.git
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/reflexer-labs/ds-token.git
[submodule "lib/ds-thing"]
	path = lib/ds-thing
	url = https://github.com/reflexer-labs/ds-thing.git
